<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
          <form>
            <p><b>Services:</b><%= document.services %></p>
            <p><b>Name:</b><%= document.name %></p>
            <p><b>Mobile No:</b><%= document.mobile_no %></p>
            <p><b>email:</b><%= document.email %></p>
            <p><b>Country:</b><%= document.country %></p>
            <p><b>city:</b><%= document.city %></p>
            <p><b>address:</b><%= document.address %></p>
            <p><b>description:</b><%= document.description %></p>

           
           
          
           
           
           <%= document.file %>
          </form>  
          
    </body>
</html>